@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #001f3d;
    color: #fff;
    line-height: 1.6;
    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: #002b58;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: #ffffff;
}

nav {
    background-color: #003d6a;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

nav a:hover {
    color: #ff6347;
}

section {
    padding: 40px 20px;
    text-align: center;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.petshop, .passeio {
    display: inline-block;
    width: 45%;
    background-color: #004c8c;
    margin: 20px 2%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}




.petshop p, .passeio p {
    font-size: 1.1rem;
}

footer {
    background-color: #001f3d;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 1rem;
}